<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrekVenture</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/home.css">
  </head>

  <body>
    <div class="cover-container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <h3>TrekVenture</h3>
              <button class="navbar-toggler border-style" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-lg-flex justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link inactiveLink" aria-current="page" href="">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </ul>
              </div>
            </div>
          </nav>

      <main>
        <h1>Discover Your Next Adventure</h1>
        <p class="lead">
          Welcome to TrekVenture, where adventure meets nature. Explore, share,
          and connect with fellow outdoor enthusiasts.
        </p>
        <a href="/campgrounds" class="btn btn-custom">Explore Campgrounds</a>
      </main>

      <footer class="mt-5">
        <p>
          &copy; 2024 TrekVenture. All rights reserved.
          
        </p>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
